{% extends "system/system_index.html" %}
{% load staticfiles %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">菜单列表</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-tachometer-alt"></i> 办公平台</a></li>
                        <li class="breadcrumb-item"><a href="{{ menu.parent.parent.url }}">{{menu.parent.parent.title}}</a></li>
                        <li class="breadcrumb-item"><a href="{{menu.url}}">{{ menu.title }}</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div id="devlist">
            <div class="card card-primary">
                <div class="card-header">
                    <div class="btn-group pull-left">
                        <button type="button" id="btnRefresh" class="btn btn-default">
                            <i class="nav-icon fa fa-sync-alt"></i> 刷新
                        </button>
                    </div>
                    <div class="btn-group pull-left">&nbsp</div>
                    <div class="btn-group pull-left">
                        <button type="button" id="btnCreate" class="btn btn-default">
                            <i class="nav-icon fa fa-plus"></i> 新增
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <table id="dtbList" class="table table-bordered table-hover">
                        <thead>
                            <tr valign="middle">
                                <th><input type="checkbox" id="checkAll"></th>
                                <th>ID</th>
                                <th>名称</th>
                                <th>代码</th>
                                <th>url</th>
                                <th>首页显示</th>
                                <th>父菜单</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                    <br><br>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            $('#SYSTEM-RBAC').addClass('active');
            $('#SYSTEM-RBAC-MENU').addClass('active');
        });
    </script>
    <script type="text/javascript">
        var oDataTable=null;
        $(function () {
            oDataTable = initTable();
            function initTable() {
                var oTable=$('#dtbList').DataTable($.extend(true,{},
                    {
                        ajax:{
                            'url':"{% url 'system-rbac:menu_list' %}",
                            'data':function (d) {

                            }
                        },
                        columns:[
                            DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                            {
                                data: 'id',
                                width: '5%',
                            },
                            {
                                data: 'title',
                            },
                            {
                                data: 'code',
                            },
                            {
                                data: 'url',
                            },
                            {
                                data: 'is_top',
                                render: function (data) {
                                    if (data){
                                        return "<span class='text-success'><i class='fas fa-check-circle '></i></span>"
                                    }else{
                                        return "<span class=''><i class='fas fa-times-circle'></i></span>"
                                    }

                                }

                            },
                            {
                                data: 'parent__title',
                            },
                            {
                                data: 'id',
                                bSortable: 'false',
                                render: function (data, type, row, meta) {
                                    var ret='';
                                    var ret="<button title='详情-编辑'onclick='doUpdate(" +
                                        + data + ")'><i class='fas fa-pencil-alt'></i></button>";
                                    return ret;
                                }
                            }
                        ],
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                    }));
                return oTable;
            }
            //checkbox全选
            $("#checkAll").on("click", function () {
                if ($(this).prop("checked") === true) {
                    $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                    $('#example tbody tr').addClass('selected');
                } else {
                    $("input[name='checkList']").prop("checked", false);
                    $('#example tbody tr').removeClass('selected');
                }
            });

            $("#btnRefresh").click(function(){
		        oDataTable.ajax.reload();
	        });
            $('#btnCreate').click(function () {
                layer.open({
                    type: 2,
                    title: '新增',
                    shaderClose: false,
                    maxmin: true,
                    area: ['800px', '400px'],
                    content: "{% url 'system-rbac:menu_detail' %}",
                    end: function () {
                        oDataTable.ajax.reload();
                    }
                });
            });
        });
        function doUpdate(id) {
            layer.open({
                type: 2,
                title: '编辑',
                shaderClose: false,
                maxmin: true,
                area: ['800px', '400px'],
                content: [ "{% url 'system-rbac:menu_detail' %}" + '?id=' + id, 'no'],
                end:function () {
                    window.location.reload()
                }
            })
        }
    </script>

{% endblock %}