.btns{
    display: inline-block;
    margin-left: 50px;
    vertical-align: middle;
}
.btns button{
    display: inline-block;
    width: 60px;
    font-size: 16px;
    padding: 0;
    vertical-align: middle;
    margin: 0 10px;
}
.right-block{
    float: right;
    height: 26px;
    width: 200px;
}
.right-block .btn{
    padding: 0 5px;
    height: 26px;
}
.right-block .form-control{
    height: 26px;
    padding: 0 10px;
}
.pro_span{
    padding-right: 8px;
}
.img-block{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.state-block{
    position: relative;
}
.state-list{
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 2;
    width: 100px;
    background: #fff;
    border:1px solid rgba(140,195,255,1);
    box-shadow:0px 3px 7px 0px rgba(140, 255, 195, 0.35);
    border-radius:4px;
    text-align: center;
    display: none;
}
.state-name{
    cursor: pointer;
}
.show{
    display: block;
}
.state-li:hover{
    background: #8CC3FF;
    cursor: pointer;
}
.address-block{
    margin-top: 20px;
    margin-left: 0!important;
}
.btn-active{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.small .series-span{
    display: inline-block;
    padding: 2px 8px;
    margin-right: 10px;
    background: #f97d7d;
    border-radius: 2px;
    color: #fff;
}
.icon-blue{
    color:#007bff;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
}
@media (max-width: 768px){
    .img-block{
        width: 60px;
        height: 60px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 100%);
    }
}
@media (min-width: 769px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}
@media (min-width: 1024px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}
@media (min-width: 1280px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }
}
@media (min-width: 1366px){
    .grid{
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
    }
}
@media (min-width: 1500px){
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }
}
