{% extends 'base_layer.html' %}
{% load staticfiles %}

{% block css %}
{#    <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">#}
    <link rel="stylesheet" href="{% static 'sandbox/bootstrap/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block main %}
        <div class="card card-primary">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ user.id }}">
            <input type="hidden" name="user" value="">
            <div class="card-body">
                <fieldset>
                    <legend>
                        <h5>基本信息</h5>
                    </legend>
                    <div class="row form-group has-feedback">
                        <label class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="name" value="{{ user.name }}">
                        </div>
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-3">
                            <select name="gender" class="form-control">
                                <option value="{{ user.gender }}">{{ user.get_gender_display }}</option>
                                <option value="male">男</option>
                                <option value="famle">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="row form-group has-feedback">
                        <label class="col-sm-2 control-label">生日</label>
                        <div class="col-sm-3">
                            <input class="form-control float-right form_datetime" name="birthday" type="text"
                                   value="{{ user.birthday | date:'Y-m-d' }}">
                        </div>
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="username" readonly="readonly"
                                   value="{{ user.username }}">
                        </div>
                    </div>
                    <div class="row form-group has-feedback">
                        <label class="col-sm-2 control-label">状态</label>
                        <div class="col-sm-6">
                            <label class="control-label">
                                <input type="radio" class="iradio_minimal" name="is_active" value="True"
                                       {% ifequal user.is_active True %}checked{% endifequal %}>启用
                            </label>
                            <label class="control-label">
                                <input type="radio" class="iradio_minimal" name="is_active" value="False"
                                       {% ifequal user.is_active False %}checked{% endifequal %}>禁用
                            </label>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h5>联系信息</h5>
                    </legend>
                    <div class="row form-group has-feedback">
                        <label class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="mobile" type="text" readonly="readonly"
                                   value="{{ user.mobile }}">
                        </div>
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-3">
                            <input class="form-control" name="email" type="text"
                                   value="{{ user.email }}">
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>
                        <h5>职业信息</h5>
                    </legend>
                    <div class="row form-group has-feedback">
                        <label class="col-sm-2 control-label">入职日期</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form_datetime" name="joined_date"
                                   value="{{ user.joined_date | date:'Y-m-d' }}">
                        </div>
                        <label class="col-sm-2 control-label">部门</label>
                        <div class="col-sm-3">
                            <select name="department" class="form-control">
                                <option value="{{ user.department.id }}">{{user.department.title |default:"--部门--"}}</option>
                                {% for structure in structures %}
                                    <option value="{{structure.id}}">{{structure.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row form-group has-feedback">
                        <label class="col-sm-2 control-label">岗位</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="post"
                                   value="{{ user.post|default_if_none:"" }}">
                        </div>
                        <label class="col-sm-2 control-label">上级</label>
                        <div class="col-sm-3">
                            <select name="department" class="form-control">
                                <option value="{{ user.superior.id }}">{{user.superior.name |default:'--上级--'}}</option>
                                {% for user in users %}
                                    <option value="{{user.id}}">{{user.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="row form-group has-feedback">
                            <label class="col-sm-2 control-label">所属角色组</label>
                            <div class="col-sm-6">
                                {% for role in roles %}
                                    <label class="control-label">
                                        <input type="checkbox" class="icheckbox_minimal" name="roles" value="{{ role.id }}" {% if role in user_roles %}checked{% endif %}>
                                        {{ role.title }}
                                    </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <button type="button" id="btnSave" class="btn btn-primary text-left" data-toggle="modal">保存</button>
                    <button type="button" id="btnCancel" class="btn btn-default text-right" data-toggle="modal">重置</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
{#    <script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>#}
    <script src="{% static 'sandbox/bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script>
    $('#btnSave').click(function () {
       var data = $('#addForm').serialize();
       console.log(data)
        $.ajax({
           type: $('#addForm').attr('method'),
           url: "{% url 'system-basic:user_updata' %}",
           data: data,
           cache: false,
           success: function (msg) {
               if(msg.status == 'success'){
                   layer.alert('数据保存成功！', {icon: 1}, function (index) {
                       parent.layer.closeAll();
                   });
               }else if(msg.status=='fail'){
                   layer.alert('数据保存失败', {icon: 5});
               }
               return ;
           }
        });
    });

    /*点取消刷新新页面*/
    $("#btnCancel").click(function () {
	    window.location.reload();

    });

    /*input 时间输入选择*/
    $(".form_datetime").datetimepicker({
            language:  'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
    });

    </script>
{% endblock %}