{% extends 'head_footer.html' %}
{% load staticfiles %}

{% block middle %}
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <a href="#" class="logo-a" style="display:block;width: 250px;text-align: center;border-bottom: 1px solid #4f5962;">
            <img src="{% static 'img/logo.png' %}" alt="Logo" class="logo-img" style="max-width: 65%;">
        </a>
        <div class="sidebar">
            <div class="user-panel">
                <div class="userInfo text-center" style="height: 60px;line-height: 60px;">
                    <img src="" class="img-circle user-image">
                    <span style="color: #6c757d">{{ request.user }}</span>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <!-- 自动写入菜单  -->
                {% for menu in request.reveal_menu %}
                    {% if not menu.url %}
                        <li class="nav-item has-treeview menu-open">
                            <a href="{{menu.url}}" id="{{ menu.code }}" class="nav-link">
                                <i class="nav-icon iconfont {{menu.icon}}"></i>
                                <p>
                                    {{menu.title}}
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" >
                                {% for sub in menu.sub_menu %}
                                    <li class="nav-item">
                                        <a href="{{ sub.url }}" id="{{ sub.code }}" class="nav-link">
                                            <i class="far fa-circle nav-icon"></i>
                                            <p>{{sub.title}}</p>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ menu.url }}" id="{{ menu.code }}" class="nav-link">
                                <i class="nav-icon iconfont fas {{ menu.icon }}"></i>
                                <p>
                                  {{menu.title}}
                                </p>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

{#                <!-- 菜单样式 -->#}
{#                <li class="nav-item has-treeview menu-open" id="AAA-A">#}
{#                    <a href="#" class="nav-link ">#}
{#                        <i class="nav-icon fas fa-tachometer-alt"></i>#}
{#                        <p>#}
{#                            菜单1#}
{#                            <i class="right fas fa-angle-left"></i>#}
{#                        </p>#}
{#                    </a>#}
{#                    <ul class="nav nav-treeview">#}
{#                        <li class="nav-item active" id="BBB-B">#}
{#                            <a href="{% url 'personal-user_info' %}" class="nav-link">#}
{#                                <i class="far fa-circle nav-icon"></i>#}
{#                                <p>子菜单1</p>#}
{#                            </a>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="nav-item active" id="ccc">#}
{#                    <a href="{% url 'system-rbac:menu' %}" class="nav-link">#}
{#                    <a href="/system/rbac/menu/" class="nav-link">#}
{#                        <i class="nav-icon fas fa-th"></i>#}
{#                        <p>#}
{#                          菜单2#}
{#                        </p>#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </nav>
    </aside>

    <div class="content-wrapper">
        {% block content %}
{#            <section class="sidebar">#}
{#                <!-- 搜索框待开发 -->#}
{#                {{ request.user }}#}
{#            </section>#}
        {% endblock %}
    </div>
{% endblock %}